/* Container sát top */
.doctor-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
}

/* Tiêu đề */
h2 {
  font-size: 24px;
  margin: 0;

}

/* Bọc bảng có scroll */
.table-wrapper {
 
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Bảng */
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;

}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

thead {
  background-color: #f4f4f4;
}

/* Ảnh đại diện bác sĩ */
.avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
}

/* Scrollbar đẹp */
.table-wrapper::-webkit-scrollbar {
  width: 91px;
  height: 470px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}
.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.table-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f1f1f1;
}
