.hospital-table-wrapper {
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #e5e7eb;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}

.hospital-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.hospital-table thead {
  background-color: #f3f4f6;
  position: sticky;
  top: 0;
  z-index: 1;
}

.hospital-table th,
.hospital-table td {
  padding: 8px 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  vertical-align: top;
}

.hospital-table img {
  width: 64px;
  height:64px;
 
}
.imgbe{
  width: 50px;
  height: 50px;
}