.clinic-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

h2 {
  margin: 0;
  font-size: 22px;
  padding-bottom: 10px;
}

/* Gọn form */
.clinic-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin-bottom: 16px;
}

.clinic-form input,
.clinic-form textarea {
  font-size: 0.9rem;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clinic-form button {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clinic-form button:hover {
  background-color: #0056b3;
}

/* Bọc bảng cho scroll ngang và dọc */
.table-wrapper {
height: 370px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Scrollbar đẹp */
.table-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 108px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}
.table-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #bbb #f1f1f1;
}

/* Bảng */
.clinic-table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  font-size: 14px;
}

.clinic-table th,
.clinic-table td {
  padding: 6px 8px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

.clinic-table th {
  background-color: #f2f2f2;
}

.clinic-table img {
  width: 60px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

/* Button trong bảng */
.clinic-table button {
  padding: 4px 8px;
  font-size: 12px;
  margin-right: 4px;
  background-color: #facc15;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clinic-table button:last-child {
  background-color: #ef4444;
  color: white;
}
